<body style="background-color: var(--bg-color);">
    <div class="container mt-5">
        <!-- Nagłówek z przyciskami -->
        <header class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="main-title">Witamy na Platformie Onboardingowej</h1>

        </header>

        <!-- Opis ról -->
        <div class="role-description">
            <h2>Role w procesie onboardingu</h2>
            <p><strong>Buddy</strong> - osoba przydzielona do nowego pracownika, nie zajmuje się procesem onboardingu nowego, jest wsparciem mentalnym i “starszym bratem” dla nowego pracownika.</p>
            <p><strong>Mentor</strong> - osoba nadzorująca bezpośrednio realizację konkretnego taska, ewentualnie pomagająca w ich realizacji na koniec ocenia wykonanie taska i daje feedback do managera.</p>
            <p><strong>Manager</strong> - osoba zajmująca się tworzeniem kursów i zadań do nich przypisanych, sprawująca główny nadzór nad przebiegiem onboardingu.</p>
            <p><strong>Nowy</strong> - nowy pracownik, który jeszcze nie przeszedł kursu onboardingowego i musi go zaliczyć, zanim zostanie pełnoprawnym pracownikiem firmy.</p>
            <p><strong>HR</strong> - osoby pracujące w tym dziale zajmują się tworzeniem kont nowych użytkowników, przydzielaniem ich do specjalizacji np: IT/KSIEGOWOSC, przypisują nowym dodatkowo ‘buddyego’.</p>
            <p><strong>Kurs</strong> - zbiór materiałów i tasków stworzonych przez managera danego działu mający na celu zapoznanie nowego z zasadami/praktykami w firmie/danym dziale.</p>
            <p><strong>Nagroda</strong> - ocena mentora/buddiego przez nowego pracownika.</p>
        </div>
    </div>
</body>